{% extends "base.html" %}

{% block page_title %}Messages{% endblock page_title %}

{% block page_header %}Messages{% endblock page_header %}

{% block page_description %}
Check your latest conversations and notifications.
{% endblock page_description %}

{% block content %}
<h1>Your Messages</h1>
<ul class="list-group">
    {% for msg in messages %}
    <li class="list-group-item">
        <strong>{{ msg.sender }}:</strong> {{ msg.message }}
    </li>
    {% endfor %}
</ul>
{% endblock content %}
